<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChatDAO">
	
	<insert id="insertChat" parameterType="chat">
		<selectKey keyProperty="chat_id" resultType="int" order="BEFORE">
		select
			max(chat_id) +1 from board
		</selectKey>
	insert into chat(chat_id, nickname, contents, write_date)
	values(#{chat_id}, #{nickname}, #{contents}, sysdate)	
	</insert>
	
	
	
	
</mapper>