<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RpDAO">
	
<!-- 상세내용 -->
	<select id="getRp" parameterType="rp"
		resultType="rp">
		select rp_id as "rpId",
				user_id as "userId",
				rp_user_id as "rpUserId",
				rp_type as "rpType",
				rp_date as "rpDate",
				rp_contents as "rpContents"
		from  report
		where rp_id = #{rpId}
	</select>
	
	
	
<!-- 신고하기  -->
	<insert id="inRp" parameterType="rp">
		<selectKey keyProperty="rpId" resultType="int" order="BEFORE">
			select
			NVL(max(rp_id),0) +1 from report
			

		</selectKey>
		insert into report(rp_id
						,user_id
						,rp_user_id
						,rp_type
		        		,rp_contents
		        		,board_num
		)
		
		values( 	 #{rpId}
					,#{userId}
					,#{rpUserId}
					,#{rpType}
					,#{rpContents}
					,#{boardNum}
		)

	</insert>
	

	
	
<!-- 	전체조회 -->
 	
	<select id ="reList" resultType="re">
	select * from re order
	by re_id desc
	</select>

<!-- 전체조회2 -->

	<select id="reMap" resultType="map">
	
	SELECT b.* FROM ( SELECT rownum no, a.* FROM (
	select re_id as "reId",
			user_id as "userId",
			contents as "contents",
			to_char(write_date, 'YY/MM/DD') as "writeDate" 
			board_num as "boardNum"
	from re

	where search_id = #{searchId}
	
	<choose>
		<when test="orderby != null and orderby != ''">
			order by #{orderby} desc
		</when>
		<otherwise>
			order by re_id desc
		</otherwise>
	</choose>
	) a ) b WHERE no BETWEEN #{first} AND #{last}
	</select>
		

</mapper>