<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StorageDAO">
	
	<select id="getTablespaceList" parameterType="String" resultType="tablespace">
		SELECT tablespace_name "tablespaceName"
				, status "status"
				, contents "contents"
		FROM dba_tablespaces 

	</select>
	
	<delete id="deleteTablespace" parameterType="String">
		DROP TABLESPACE #{tablespaceName} INCLUDING CONTENTS AND DATAFILES
	</delete>
</mapper>