<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserDAO">
	
	<!-- 생성 -->
	<insert id="createUser" parameterType="user" >
		{call ADD_USER (#{user}, #{id}, #{password}, #{defaultTableSpace}, #{accountStatus})}
	</insert>
	
	<!-- id 예약어 -->
	<select id="reservedWords" parameterType="String" resultType="String">
		select sc_name_chk( #{reservedWords} )
		from dual

	</select>
	
	<!-- 리스트 -->
	<select id="userList" resultType="map" parameterType = "user">
		SELECT USERNAME, ACCOUNT_STATUS, DEFAULT_TABLESPACE 
		FROM DBA_USERS, USER_SCH_TB
		where DBA_USERS.USERNAME = upper(USER_SCH_TB.USER_SCH_NM)
		and USER_SCH_TB.USER_ID = #{user}
		order by USERNAME
	</select>
	
	<!-- 삭제 -->
	<delete id="deleteUserDrop" parameterType="user">
		drop user ${user}
	</delete>
	<delete id="deleteUser">
		delete user_sch_tb where user_sch_nm = #{id}
	</delete>
 	<!-- 단건조회 -->
 	<select id="getUser" parameterType="user" resultType="user">
 		select USERNAME id,  ACCOUNT_STATUS, DEFAULT_TABLESPACE
 		from DBA_USERS
 		where upper(USERNAME)=#{id}
 	</select>
 	
	<!-- 수정 -->
	<update id="updateUser" parameterType="user">
		alter user ${id} 
			  identified by ${password} 
			  default TableSpace ${defaultTableSpace}
			  account ${accountStatus}
	</update>
	
	<!-- 윤정 조회 -->
	<select id = "getUserSchema" parameterType = "String" resultType = "user">
	SELECT u.user_id "id"
		, d.username "user"
		, d.account_status "accountStatus"
		, d.default_tablespace  "defaultTableSpace"
	FROM dba_users d, user_sch_tb u
	where d.username = u.user_sch_nm
	AND u.user_id = #{userId}
	</select>
</mapper>