<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserDAO">
	
	<!-- 생성 -->
	<insert id="createUser" parameterType="user" >
		{call ADD_USER (#{user}, #{id}, #{password}, #{defaultTableSpace}, #{accountStatus})}
	</insert>
	
	<!-- id 예약어 -->
	<select id="reservedWords" resultType="map">
		select USER_id 
 		from users
 		where USER_id in(SELECT KEYWORD FROM V$RESERVED_WORDS)

	</select>
	
	<!-- 리스트 -->
	<select id="userList" resultType="map" parameterType = "user">
		SELECT USERNAME, ACCOUNT_STATUS, DEFAULT_TABLESPACE 
		FROM DBA_USERS, USER_SCH_TB
		where DBA_USERS.USERNAME = upper(USER_SCH_TB.USER_SCH_NM)
		and USER_SCH_TB.USER_ID = #{user}
		order by USERNAME
	</select>
	
	<!-- 삭제 -->
	<delete id="deleteUser" parameterType="user">
		drop user ${id} 
	</delete>
 	<!-- 단건조회 -->
 	<select id="getUser" parameterType="user" resultType="user">
 		select USERNAME id,  ACCOUNT_STATUS, DEFAULT_TABLESPACE
 		from DBA_USERS
 		where lower(USERNAME)=#{id}
 	</select>
 	
	<!-- 수정 -->
	<update id="updateUser" parameterType="user">
		alter user ${id} 
			  identified by ${password} 
			  default TableSpace ${defaultTableSpace}
			  account ${accountStatus}
	</update>
</mapper>