<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UsersDAO">
	
	<!--	
	
	-Users DAO-
	
	String user_id; 	// 유저아이디
	String pw;			// 비밀번호
	String nickname;	// 닉네임
	String e_mail;		// 이메일
	Date user_date;		// 가입날짜
	int user_type; 		// 1번 일반유저(디폴트) 2번 관리자  -->
	
	
	<!-- !!!!!!!!!!!!로그인 유저입니다!!!!!!!!!!!!!!!!!!!!!!!!!!!!  -->
	<!-- !!!!!!!!!!!!로그인 유저입니다!!!!!!!!!!!!!!!!!!!!!!!!!!!!  -->
	<!-- !!!!!!!!!!!!로그인 유저입니다!!!!!!!!!!!!!!!!!!!!!!!!!!!!  -->
	
	
	
	
</mapper>